body, html {
  height: 100%;
  background-color: #f8f9fa;
  font-family: 'Segoe UI', sans-serif;
}

.login-container {
  height: 100vh;
  background-image: url('../Assets/slide-07.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}


.login-card {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
}


.signup-container {
  height: 100vh;
  background-image: url('../Assets/slide-07.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.signup-card {
  width: 100%;
  max-width: 430px;
 background-color: #ffffff;
}

.nav-item {
font-weight: 600; 
}
.material-symbols-outlined {
 font-weight: 500;  
}
.nav-item .nav-link:hover {
  color: blue;
}
.material-symbols-outlined:hover {
 color: blue;
}


.content {
  font-size: 30px;
  color:rgb(29, 29, 104);
}
.text {
  font-size: 60px;
  font-weight: bold;
  color: rgb(29, 29, 104);
}

 .carousel-caption {
  position: absolute;      
  top: 30%;                
  left: 5%;               
  right: auto;             
  text-align: left;       
  max-width: 35%;          
}

.text {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.hover-container {
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(167, 164, 164, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-container:hover .overlay {
  opacity: 1;
}

ul.list-unstyled li a.footer-link {
 color:rgb(184, 177, 177);
 font-size: 14px;
 text-decoration: none;
}
ul.list-unstyled li a.footer-link:hover {
 color:rgb(127, 157, 238);
 }

 .footer-text {
  color:rgb(184, 177, 177);
   font-size: 14px;
 }
 .footer-heading {
  font-weight: bold;
 }

 .favorite-icon{
  color:rgb(184, 177, 177);     
  cursor: pointer;
  transition: color 0.3s ease;
  position: absolute;
  bottom: 40px;
  right: 10px;
 }
.footer-box {
  padding:40px;
  position: relative;
  top: 30px;
}

.input-underline {
  border: none;
  border-bottom: 2px solid #ccc;
  background: transparent;
  padding: 8px 4px;
  width: 100%;
  color: #fff; 
}

.input-underline:focus {
  outline: none;
  border-bottom: 2px solid #007bff; 
}

.banner .banner-title{
  color:black;
   font-weight: 800;
   font-size: 28px;
}

.custom-card {
  width:100%;
  height: 350px;       
 border-radius: 8px;
  margin-top:60px;
 
}
.custom-card :hover{
  cursor:pointer;
}
.banner {
  position:absolute;
  top: 20px;
  left:30px;
}

.home-title{
  font-weight: 800;
   margin-top:60px;
  margin-left: 120px;
}

.shop-text {
  color: grey;
   font-size: 16px;
   text-decoration: none;
}
.shop-text:hover{
  color:black;
  text-decoration: underline;
}
.search {
  color: grey;
  position:absolute;
  right:120px;  
  padding:10px;
  height:50px;
  width:120px;
  border: 1px solid rgb(211, 208, 208); 
  border-radius: 5px;
  
  
  }
.search:hover {
  color: white;
  background-color: rgb(31, 31, 226);
  
}

.custom-icon{
   vertical-align: middle; 
   font-size: 22px;
}

.custom-icon:hover {
  color: white;
   
}

.about-text {
    color: grey;
   font-size: 16px;
}

